[submodule "deps/DirectXTK"]
	path = deps/DirectXTK
	url = git@github.com:microsoft/DirectXTK.git
[submodule "deps/ObjectAL-for-iPhone"]
	path = deps/ObjectAL-for-iPhone
	url = git@github.com:kstenerud/ObjectAL-for-iPhone.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/oboe"]
	path = deps/oboe
	url = git@github.com:google/oboe.git
[submodule "deps/box2d"]
	path = deps/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
