[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = git@github.com:kcat/openal-soft.git
[submodule "deps/libsndfile"]
	path = deps/libsndfile
	url = git@github.com:libsndfile/libsndfile.git
[submodule "deps/ios-cmake"]
	path = deps/ios-cmake
	url = git@github.com:leetal/ios-cmake.git
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
[submodule "deps/steamworks_sdk"]
	path = deps/steamworks_sdk
	url = git@github.com:sgowen/steamworks_sdk.git
