[submodule "deps/box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
